@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

* {
    font-family: 'Song Myung', serif;
}

#page-header{
    height: 140px;
    font-size: 64px;
    display: flex;
    border-bottom: 1px solid #6f6f6f;
}

#page-header>div {
    margin: auto;
}

#page-footer{
    height: 140px;
    font-size: 16px;
    display: flex;
    border-top: 1px solid #6f6f6f;
}

.grid-container {
    margin: 80px 136px 0px 136px;
    display: grid;
    grid-template-columns: repeat(12, 70px);
    justify-content: center;
    column-gap: 30px;
    row-gap: 80px;
}

.grid-whole {
    grid-column: span 12;
    background-color: #d9d9d9;
}

.grid-whole>div {
    margin: 50px 100px 50px 100px;
    font-size: 32px;
}

.grid-half {
    grid-column: span 6;
    background-color: blue;
}

.grid-half-box {
    height: 400px;
    grid-column: span 6;
    border: 1px solid black;
}

.grid-half-box-gray {
    height: 400px;
    grid-column: span 6;
    background-color: gray;
}

.grid-one-third-box {
    height: 400px;
    grid-column: span 4;
    border: 1px solid black;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 80px 136px 80px 136px;
    /* width: 40%; */
}

.buttons>button {
    font-size: 40px;
    height: 64px;
    width: 270px;
    border-radius: 10px;
}
